body{
    margin: 0;
    padding: 0;
    height: -webkit-fill-available;
    width: 100%;
    background-color: rgb(53, 45, 47);
    background-image: url("images/alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg"); 
    background-color: #cccccc; 
    
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  

 .container{
    width: 350px;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0%;
    background: none rgb(44, 113, 83);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    flex-wrap: wrap;
    align-self: center;


 }
 .btn

 {
    width: 250px;
    height: 45px;
    border-radius: 30px;
    margin-top: 10px ;
        border: none;
        color:rgb(44, 113, 83);
       text-align: center;
        text-decoration:none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white;
      
 }

p1
{
    font-size: 22px;
    color:rgb(190, 165, 165)
    object-position: center;
    scroll-padding-left: 50px;
    
}
p2
{
    font-size: 22px;
    color: whitesmoke
    object-position: center;
    scroll-padding-left: 50px;
}
p3{
    font-size: 22px;
    color:whitesmoke
    object-position: center;
    scroll-padding-left: 50px;
}

.xxx{
    display: flex;
    flex-direction: column;
    border: 0;
    outline: 0;
    background: transparent;
   
    align-self: center;
}
 .inputbox{
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid black;
      
 }

 a {
    color:whitesmoke;
    background-color: transparent;
    text-decoration: underline;
  }
